<p>Submissions must include
An Eval submission CSV file, with the prediction results over the Evaluation Dataset
- A Hugging Face Link of your PyTorch model weights
- A PDF Report documenting the data curation process and datasets used.
- Use of external datasets or pre-trained models is permitted but must be disclosed in the report. User can leverage any architecture or model they want
Submissions must include the required files (eval cvs file, model link, and report) or be disqualified.
The top five positions on the leaderboard may be subject to audit by the challenge organizers. If you are among the top five, you will receive further communication regarding the process.
Using the Discord channel (https://discord.com/invite/fiftyone-community) is not mandatory, but it will benefit all the participants, help each other, or help them find common problems.
More information will be provided once the submission process is ready.</p>
